@import './colors.scss';

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

/* Fluid Typography => calc([min size] + ([max size] - [min size]) * ((100vw - [min viewport width]) / ([max viewport width] - [min viewport width]))); */

@media screen and (max-width: 1580px) {
  html {
    font-size: calc(6px + (10 - 6) * ((100vw - 320px) / (1580 - 320)));
  }
}

@media screen and (min-width: 1580px) {
  html {
    font-size: 10px;
  }
}
